.ArticlesPageFilters {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
